.side-bar {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 13%;
    top: 85%;
    transform: translateY(-50%);
    z-index: 2;
}

.side-bar__item {
    margin-bottom: rem(7px);
    width: rem(16px);
    height: rem(16px);
    border: rem(1px) solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
    
.side-bar__item:last-child {
    margin-bottom: rem(0px);
}

.side-bar__link {
    width: rem(6px);
    height: rem(6px);
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0px 0px 7px rgb(0,0,0);
}

.side-bar__item--active {
    border-color: $white;
    box-shadow: 0px 0px 7px rgb(0,0,0);
}

