@import './blocks/mixins.scss';

@import 'layout/fonts.scss';
@import 'layout/variables.scss';
@import 'layout/normalize.scss';
@import 'layout/base.scss';

@import 'blocks/header.scss';
@import 'blocks/menu.scss';
@import 'blocks/benefits.scss';
@import 'blocks/promo.scss';

@import 'blocks/reasons/reasons.scss';
@import 'blocks/reviews/review.scss';
@import 'blocks/side-bar.scss';

@import './blocks/team/team.scss';
@import './blocks/recipes.scss';
@import './blocks/order.scss';
@import './blocks/map.scss';
@import './blocks/footer.scss';

.wrapper {
    position: relative;
}

section {
    width: 100%;
    min-height: 648px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 940px;
    min-width: 800px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.subject {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: $dark;
}