.benefits {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.benefits__content--nature image {
  width: 44px;
  height: 41px; }

.benefits__content--delivery image {
  width: 50px;
  height: 40px; }

.benefits__content--healthy image {
  width: 42px;
  height: 42px; }
