.side-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -4%;
    top: 50%;
    transform: translateY(-50%);
}

.side-bar__item {
    margin-bottom: 7px;
    width: 16px;
    height: 16px;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-bar__item:last-child {
    margin-bottom: 0px;
}

.side-bar__link {
    width: 6px;
    height: 6px;
    background-color: $white;
    border-radius: 50%;
}

.side-bar__item--active {
    border-color: $white;
}