.reasons {
    color: $whole-black;
    padding-top: rem(50px);
    flex-direction: column;
    align-items: center;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        background-image: url(../assets/images/leaf-pattern.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(0, 50%);
        background-image: url(../assets/images/razz.png);
        background-repeat: no-repeat;
        background-position: center;
    }

    & .container {
        padding-top: rem(14px);

        @include little-phones {
            width: 320px;
        }
    }

    @include phones {
        padding-top: 0;
    }
}

.reasons__list {
    display: flex;
    justify-content: space-between;
    
    @include tablets {
        flex-direction: column;
        width: rem(500px);
        margin: 0 auto;
    }

    @include little-phones {
        width: rem(400px);
    }

}

.reasons__desc {
    color: $grey;
    text-align: center;
    font-weight: 300;
    font-size: rem(18px);

    @include tablets {
        margin-bottom: rem(26px);
    }

    @include phones {
        text-align: left;
        margin-left: rem(95px);
        margin-top: 0;
        width: 200px;
    }

    @include little-phones {
        text-align: left;
        margin-left: rem(225px);
        margin-top: 0;
        width: 180px;
    }
}

.subject.subject--reasons {
    font-weight: bold;
    margin-bottom: rem(7px);
}

.reasons__sub-title {
    font-weight: normal;
    font-size: rem(18px);
    color: $grey;
    text-align: center;
    max-width: rem(420px);
    align-self: center;
    margin-bottom: rem(55px);

    @include little-phones {
        max-width: rem(350px);
        margin-bottom: rem(10px);
    }
}

.reasons__title {
    font-weight: bold;
    text-align: center;
    font-size: rem(27px);
    color: $whole-black;
    margin-bottom: rem(18px);

    &:before {
        content: "";
        display: block;
        background-color: #f2f5f4;
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        width: rem(125px);
        height: rem(125px);
        margin-bottom: rem(28px);

        @include phones {
            position: absolute;
            left: 0;
        }

    }

    @include phones {
        text-align: left;
        width: 95%;
        padding-left: rem(150px);
        box-sizing: border-box;
        margin-bottom: 15px;
    }
}

.reasons__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    position: relative;
    margin-right: rem(70px);

    &:last-child {
        margin-right: 0;
    }

    &:first-child .reasons__title:before {
        background-image: url(../assets/icons/1.svg);
    }

    &:nth-child(2) .reasons__title:before {
        background-image: url(../assets/icons/3.svg);
    }

    &:nth-child(3) .reasons__title:before {
        background-image: url(../assets/icons/2.svg);
    }

    &:not(:last-child):after{
        content: "";
        position: absolute;
        right: 0;
        top: 20%;
        transform: translate(120%, 0);
        background-image: url(../assets/images/dots.png);
        width: rem(67px);
        height: rem(21px);
        background-position: center;
        background-size: contain;

        @include tablets {
            display: none;
        }
    }

    @include tablets {
        margin-right: 0;
    }

    @include phones {
        width: 100%;
    }

    @include little-phones {
        width: 80%;
    }
    
}