.recipes {
    position: relative;
    background-image: url(../assets/images/menu-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(0%);
    flex-direction: row;
    justify-content: space-between;

    &:before {
        width: rem(105px);
        height: rem(113px);
        display: block;
        content: "";
        position: absolute;
        top: -11%;
        left: 9%;
        z-index: 1;
        background-image: url(../assets/images/one-razz.png);
        background-size: contain;
        background-repeat: no-repeat;

        @include tablets {
            top: -6%;
        }
    }
}

.subject.subject--recipes {
    color: $white;
    padding-top: rem(86px);
    margin-right: rem(20px);
    text-align: right;
    flex: 1;

    @include tablets {
        font-size: rem(48px);
    }

    @include phones {
        display: none;
    }
}

.none-active {
    display: none;
}

.recipes__list {
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
    height: 100%;
    width: 70%;

    @include phones {
        width: 100%;
    }
}

.recipes__item {
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: flex-start;

    @include phones {
        &.recipes__item--active {
            width: 100%;
        }
    }
}

.recipes__item:first-child .recipes__title {
    background-image: url(../assets/images/kokos.png);
}

.recipes__item:nth-child(2) .recipes__title {
    background-image: url(../assets/images/granola.png);
}

.recipes__item:nth-child(3) .recipes__title {
    background-image: url(../assets/images/shutter.png);
}

.recipes__title {
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    padding: rem(40px) rem(0px);
    font-size: rem(48px);
    font-weight: 500;
    line-height: 100px;
    backdrop-filter: brightness(0%);
    background-position: center;
    background-size: cover;

    @include phones {
        display: none;
    }
}

.recipes__item--active .recipes__title {
    display: block;
}

.recipes__desc {
    display: none;
}

.recipes__desc.close-desc {
    width: 0px;
    overflow: hidden;
    display: none;
}

.recipes__item--active .recipes__desc{
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8); 
    padding: rem(46px) rem(64px) rem(10px) rem(16px);
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: 300;
    display: block;

    @include phones {
        height: 100%;
        right: 0px;
        box-sizing: border-box;
    }
}

.recipes__item--active .recipes__cancel-btn{
    display: block;
}

.recipes__cancel-btn {
    display: none;
    position: absolute;
    padding: rem(0px);
    width: rem(24px);
    height: rem(24px);
    border-radius: rem(14px);
    background-color: transparent;
    border: none;
    border-radius: none;
    background-image: url(../assets/images/cancel.png);
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
    cursor: pointer;
}
