.footer {
    font-size: rem(21px);
    font-weight: 400;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: rem(23px) rem(23px) rem(23px) rem(23px);
    align-items: center;
}
 
.adress {
    color: $black;
    margin-bottom: rem(11px);
}

.footer .phone {
    letter-spacing: rem(0px);
    color: #0f5a47;
    margin-left: rem(17px);
    font-size: rem(18px);
    font-weight: 100;
}

.social-net__list {
    display: flex;
    padding-top: rem(10px);
}

.social-net__item {
    background-position: center;
    background-size: cover;
    margin-right: rem(20px);
    height: 100%;
    fill: #b2b2b2;
}

.social-net__item:hover {
    fill: #000;
}

.social-net__item:last-child {
    margin-right: rem(0px);
}

.social-net__item--vk .social-net__item--icon{
    width: rem(23px);
    height: rem(20px);
}

.social-net__item--fb .social-net__item--icon{
    width: rem(20px);
    height: rem(20px);
}

.social-net__item--in .social-net__item--icon{
    width: rem(20px);
    height: rem(20px);    
}

.social-net__item--tw .social-net__item--icon{
    width: rem(20px);
    height: rem(20px);
}
