$font-stack: 'AlegreyaSans', 'AdobeInvisFont', 'MyriadPro-Regular', 'Arial';
$white: rgb(255, 255, 255);
$blue: rgb(97, 196, 217);
$light-blue: rgb(176, 247, 255);
$light-grey-first: rgb(248, 250, 249);
$light-grey: rgb(242, 245, 244);
$grey: rgb(102, 102, 102);
$dark-green: rgb(15, 90, 71);
$dark-grey: rgb(50, 50, 50);
$light-black: rgb(40, 30, 30);
$dark: rgb(13, 13, 13);
$black: rgb(1, 1, 1);
$whole-black: rgb(0, 0, 0);
