.benefits {
    display: inline-flex;
    font-size: rem(16px);

    &__content {
        display: inline-flex;
    }
    font-weight: normal;
    font-style: normal;
}

.benefits__item {
    margin-right: rem(14px);

    & .icon {
        margin-right: rem(10px);
    }
}

.benefits__item:last-child {
    margin-right: rem(0px);
}

.benefits__content--nature .icon{
    width: rem(44px);
    height: rem(41px);
}

.benefits__content--delivery .icon{
    width: rem(50px);
    height: rem(40px);
}

.benefits__content--healthy .icon{
    width: rem(42px);
    height: rem(42px);
}