.team {
    flex-direction: column;
    position: relative;
    overflow: visible;

    &:before {
        content: "";
        position: absolute;
        width: 180px;
        height: 600px;
        right: 0;
        top: -38%;
        background-image: url(../assets/images/big-grey-leaf.png);
        background-repeat: no-repeat;
        background-position: center;

        @include tablets {
            top: -25%;
        }
    }

    &:after {
        content: "";
        position: absolute;
        width: 135px;
        height: 112px;
        right: 0;
        top: -6%;
        background-image: url(../assets/images/blue-berry.png);
        background-repeat: no-repeat;
        background-position: center;

        @include tablets {
            top: -4%;
        }
    }
}

.team__list {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    
    @include tablets {
        width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }

    @include phones {
        width: 80%;
    }
}

.subject--team {
    margin-bottom: rem(50px);
    position: relative;
    z-index: 2;
}

.avatar {
    overflow: hidden;
    height: rem(288px);
    width: 100%;
    object-fit: cover;
    margin-bottom: rem(23px);

    @include phones {
        max-height: rem(250px);
    }
}

.team__item {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: $black;
    text-align: center;
    margin-right: 20px;
    max-width: 225px;
    // min-height: 500px;


    @include tablets {
        padding-right: 5px;
        padding-left: 5px;
        margin: 0px;
    }

    @include phones {
        width: 35%;
    }
}

.team__item:last-child {
    margin-right: 0px;
}

.info {
    display: none;
}

.team__item--active .info {
    display: block;
    padding-bottom: 20px;
}

.name {
    font-size: rem(21px);
    color: $dark-grey;
    font-weight: 500;
    position: relative;
    margin-bottom: rem(10px);
}

.position {
    font-size: rem(18px);
    color: $light-black;
    font-weight: 400;
}

.desc {
    font-size: rem(18px);
    color: $grey;
    font-weight: 300;
    text-align: center;
    
}

.name:after {
    content: "";
    display: inline-block;
    margin-left: rem(10px);
    border-top: rem(5px) solid $dark-green;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(5px) solid transparent;
    border-left: rem(5px) solid transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.team__item--active .name:after {
    border-top: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(5px) solid $dark-green;
    border-left: rem(5px) solid transparent;
    top: 25%;
    transform: translateY(-50%);
}