.team {
    flex-direction: column;
    position: relative;
    overflow: visible;
}

.team__list {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    
    @include tablets {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.subject--team {
    margin-bottom: rem(50px);
}

.avatar {
    display: block;
    height: rem(288px);
    width: 100%;
    object-fit: cover;
    margin-bottom: rem(23px);
}

.team__item {
    display: flex;
    flex-direction: column;
    color: $black;
    text-align: center;
    margin-right: 20px;
    max-width: 230px;

    @include tablets {
        padding-right: 5px;
        padding-left: 5px;
        margin: 0px;
    }
}

.team__item:last-child {
    margin-right: 0px;
}

.info {
    display: none;
}

.info--active {
    display: block;
    padding-bottom: 20px;
}

.name {
    font-size: rem(21px);
    color: $dark-grey;
    font-weight: 500;
    position: relative;
    margin-bottom: rem(10px);
}

.position {
    font-size: rem(18px);
    color: $light-black;
    font-weight: 400;
}

.desc {
    font-size: rem(18px);
    color: $grey;
    font-weight: 300;
    text-align: center;
}

.name:after {
    content: "";
    display: inline-block;
    margin-left: rem(10px);
    border-top: rem(5px) solid $dark-green;
    border-right: rem(5px) solid transparent;
    border-bottom: rem(5px) solid transparent;
    border-left: rem(5px) solid transparent;
}