.header {
    display: flex;
    justify-content: space-between;
    padding-top: rem(10px);
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo {
    width: rem(53px);
    height: rem(38px);
    margin-right: rem(47px);

    @include tablets {
        margin-left: rem(47px);
    }
}

.phone {
    font-size: rem(24px);
    letter-spacing: rem(1.5px);
    position: relative;
    font-family: "OpenSans", "Arial";

    @include tablets {
        display: none;
    }
}

.phone-icon {
    content: "";
    display: block;
    width: rem(12px);
    height: rem(11px);
    fill: #ccc;
    position: absolute;
    left: rem(-18px);
    line-height: 100%;
    top: 50%;
    transform: translateY(-50%);
}