.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.logo {
    width: 53px;
    height: 38px;
    margin-right: 47px;
}

.phone {
    // font-size: rem(24px);
    letter-spacing: 1.5px;
    position: relative;
    font-family: "OpenSans", "Arial";
}

.phone-icon {
    content: "";
    display: block;
    width: 12px;
    height: 11px;
    fill: #ccc;
    position: absolute;
    left: -18px;
    line-height: 100%;
    top: 50%;
    transform: translateY(-50%);
}