.menu__list {
    display: inline-flex;
    display: flex;
    justify-content: space-between;
    
    @include tablets {
        display: none;
    }
}

.menu-icon {
    width: rem(25px);
    height: rem(4px);
    border-radius: 20%;
    background-color: #fff;
    position: relative;
    display: none;
    z-index: 1;

    @include tablets {
        display: block;
        margin-right: rem(47px);
    }
}

.menu-icon:before {
    content: "";
    display: none;
    width: rem(25px);
    height: rem(4px);
    border-radius: 20%;
    background-color: #fff;
    margin-top: -7px;

    @include tablets {
        display: block;
    }
}

.menu-icon:after {
    content: "";
    display: none;
    width: rem(25px);
    height: rem(4px);
    border-radius: 20%;
    background-color: #fff;
    margin-top: 10px;

    @include tablets {
        display: block;
    }
}

.menu {
    flex-grow: 1;
    margin-right: rem(52px);
}

.menu__item {
    cursor: pointer;
}