.menu__list {
    display: flex;
    justify-content: space-between;
    z-index: 2;
    
    @include tablets {
        display: none;
    }
}

.menu__list--dark {
    @include tablets {
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: rem(36px);
        line-height: rem(72px);
        font-weight: 400;
        background-color: rgba(47, 50, 52, 0.9);
    }
}

.menu-icon__container {
    cursor: pointer;
    display: none;
    position: relative;
    width: rem(45px);
    height: rem(45px);
    z-index: 2;

    @include tablets {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: rem(47px);
    }
}

.menu-icon__cancel-container {
    display: none;
}

.menu-icon__cancel {
    display: block;
    width: rem(25px);
    border: rem(4px) solid $grey;
    border-radius: rem(5px);
    transform: rotate(45deg);
    z-index: 2;

    &:before {
        content: "";
        display: block;
        width: rem(25px);
        position: absolute;
        border: rem(4px) solid $grey;
        border-radius: rem(5px);
        transform: rotate(90deg) translate(rem(-4px), rem(4px));
    }
}

.menu-icon__open {
    width: rem(25px);
    height: rem(4px);
    border-radius: 20%;
    background-color: #fff;
    position: relative;
    display: none;
    z-index: 1;

    @include tablets {
        display: block;
    }

    &:before {
        content: "";
        display: none;
        width: rem(25px);
        height: rem(4px);
        border-radius: 20%;
        background-color: #fff;
        margin-top: rem(-7px);
    
        @include tablets {
            display: block;
        }
    }

    &:after {
        content: "";
        display: none;
        width: rem(25px);
        height: rem(4px);
        border-radius: 20%;
        background-color: #fff;
        margin-top: rem(10px);
    
        @include tablets {
            display: block;
        }
    }
}

.menu {
    flex-grow: 1;
    margin-right: rem(52px);
}

.menu__item {
    cursor: pointer;
}

.menu__link {
    color: #fff;
    text-decoration-line: none;
}
