.recipes {
    position: relative;
    background-image: url(../assets/images/menu-back.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: brightness(0%);
    justify-content: space-between;

    &:before {
        width: rem(105px);
        height: rem(113px);
        display: block;
        content: "";
        position: absolute;
        top: -11%;
        left: 9%;
        z-index: 1;
        background-image: url(../assets/images/one-razz.png);
        background-size: contain;
        background-repeat: no-repeat;

        @include tablets {
            top: -6%;
        }
    }
}

.subject.subject--recipes {
    color: $white;
    padding-left: rem(161px);
    padding-top: rem(86px);

    @include tablets {
        padding-left: rem(40px);
        padding-right: rem(20px);
    }
}

.recipes__list {
    display: flex;

}

.recipes__item {
    cursor: pointer;
    display: flex;
    backdrop-filter: brightness(0%);
    background-position: center;
    background-size: cover;
}

.recipes__item:first-child {
    background-image: url(../assets/images/kokos.png);
}

.recipes__item:nth-child(2) {
    background-image: url(../assets/images/granola.png);
}

.recipes__item:nth-child(3) {
    background-image: url(../assets/images/shutter.png);
}

.recipes__title {
    color: $white;
    transform: rotate(-180deg);
    writing-mode: vertical-rl;
    padding: rem(40px) rem(0px);
    font-size: rem(48px);
    font-weight: 500;
    width: rem(100px);
    line-height: rem(100px);
}

.recipes__desc {
    display: none;
}

.recipes__desc.recipes__desc--active {
    display: inline-block;
    width: rem(390px);
    background-color: rgba(50, 50, 50, 0.9); 
    padding: rem(46px) rem(104px) rem(10px) rem(16px);
    font-size: rem(16px);
    line-height: rem(24px);
    font-weight: 400;

    @include tablets {
        width: 100%;
    }
}

.recipes__cancel-btn {
    position: absolute;
    padding: rem(0px);
    width: rem(24px);
    height: rem(24px);
    border-radius: rem(14px);
    background-color: transparent;
    border: none;
    border-radius: none;
    background-image: url(../assets/images/cancel.png);
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    transform: translate(-100%, 100%);
}
