.reviews {
    flex-direction: column;
    align-items: center;
    position: relative;
    border-bottom: #000 solid 3px;

    &:before {
        content: "";
        width: rem(150px);
        height: rem(86px);
        background-image: url(../assets/images/barry-review-top.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        right: 12%;
        top: 0;
    }

    &:after {
        content: "";
        width: rem(139px);
        height: rem(300px);
        background-image: url(../assets/images/razz-review-bottom.png);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(0, 50%);
        z-index: 1;
    }
}

.subject--reviews {
    z-index: 1;
}

.review {
    background-color: $light-grey-first;
    // width: 100%;
    width: rem(940px);
    // width: 60%;
    position: relative;
    display: flex;
    align-content: center;
    padding-top: rem(50px);
    padding-bottom: rem(35px);
    margin-top: rem(30px);
    margin-bottom: rem(23px);

    @include tablets {
        width: rem(500px);
        flex-direction: column;
        align-items: center;
    }

    &:before {
        content: "";
        width: rem(90px);
        height: rem(90px);
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
    } 
}

.review__image {
    width: rem(254px);
    height: rem(259px);
    padding-left: rem(47px);
    position: relative;
    z-index: 2;
}

.review__info {
    color: $grey;

    &:before {
        background-image: url(../assets/images/reviews/reviews-decor.png);
        background-position: center;
        background-size: cover;
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: rem(0px);
        width: rem(127px);
        height: rem(167px);
    }

    @include tablets {
        text-align: center;
        align-items: center;
    }
}

.review__image-box {
    padding-right: rem(15px);
}

.review__title {
    color: $dark-grey;
    padding-top: rem(15px);
    padding-bottom: rem(22px);
    font-size: rem(30px);
    font-weight: 500;
    z-index: 2;
    position: relative;
}

.review__desc {
    margin-bottom: rem(28px);
    font-size: rem(18px);
    max-width: rem(440px);
    line-height: rem(22px);
    z-index: 2;
    position: relative;
}

.review__author {
    font-weight: 500;
}

.reviews__list {
    display: flex;
    justify-content: center;
}

.reviews__item {
    margin-right: rem(9px);
    display: inline-block;
}

.reviews__item:last-child {
    margin-right: 0;
}

.previews {
    width: rem(70px);
    height: rem(70px);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;

    @include tablets {
        width: rem(84px);
        height: rem(84px);
    }
}

.previews--active {
    border: rem(5px) solid $dark-green;
}